/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */


 :root{
  --Cerulean: #227c9d; 
  --LightSeaGreen: #17c3b2;
  --Sunset: #ffcb77;
  --FloralWhite: #fef9ef;
  --LightRed: #fe6d73;
 }

 /* stretched the width of the navbar to 100 */
.navbar{
  background-color: var(--Cerulean);
  width: 100% 

}

/* created id to edit the content in the nav bar */
.uk-subnav {justify-content: right;
}

/* created this id for the business name */
#name {justify-content: left;
}

 #map {
    height: 500px;
    width: 500px;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

